{% extends "viewer/index.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    {% if text %}
        {{ text | safe }}
    {% else %}
        <dev>
            <ul>
                <div style="margin: 10px 10px 10px -20px; padding: 20px 20px 20px -20px">List of Pages ({{ links | length }})</div>
                {% for link in links %}
                    <li><a href="/?q={{ link.page.title }}">{{ link.page.title }}</a></li>
                {% endfor %}
            </ul>
        </dev>
    {% endif %}

{% endblock %}
