<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <style>
        .btn {
            display: inline-block;
            padding: 10px 10px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-primary {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }

        .frm {
            display: table;
            padding: 20px;
            margin: auto;
        }
    </style>
    <script type="text/javascript">
        let addTimeParams = (function(document) {
            let time = Date.now();
            console.log(time)
            let url = document.getElementById('form_search').action;
            if (url) {
                url = url + '&dt=' + time
            }
            document.getElementById(url)
            {#document.getElementById('form_search').action = url#}
            console.log(document.getElementById('form_search').action)
        })
    </script>
</head>
<body>
<div class="container">
    <div style="display: table; margin: auto"><a href="/">List of Pages</a></div>
    <form action="" method="get" class="frm" id="form_search" onsubmit="addTimeParams(document)">
        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" type="text" placeholder="Search One of Elements from List">
        <button type="submit" class="btn btn-primary" ><b><i class="bi bi-search"></i></b></button>
        Time: {{ time }}
    </form>

    <br>
    {% block content %} {% endblock %}
    <br>
</div>
</body>
</html>